%p
 Hello
 = @email
 !
%p
 You are invited to
 = @organization
 organization
%p Admin has requested a link to confirm your invite. You can do this through the link below.
= link_to 'Confirm your invite',  'http://hackdashboardfrontend.herokuapp.com/#register?invite_token='+@invite_token.to_s+'&organization='+@organization,  :class => "contact_mailer_brand_logo"
%p If you didn't request this, please ignore this email.