%p
 Hello
 = @email
 !
%p You are invited to  ...
%p Admin has requested a link to confirm your invite. You can do this through the link below.
= link_to 'Confirm your invite',  'http://hackdashboardfrontend.herokuapp.com/#home/register?invite_token='+@invite_token,  :class => "contact_mailer_brand_logo"
%p If you didn't request this, please ignore this email.